.form {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    background-color: white;

    padding: 48px;
    border: 1px solid;
    border-radius: 12px;
    border-color: white;

    box-shadow: 0px 0px 10px 6px rgba(192, 192, 192, 0.2);
}

.question-title {
    font-size: 20px;
    font-weight: 500;
}

.question-description {
    font-size: 14px;
    font-weight: 400;
    color: rgb(100, 100, 100);
}

.question-container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.answers-container-single,
.answers-container-multiple {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.answers-container-scale {
    display: flex;
    flex-direction: row;
    column-gap: 6px;

    .answer {
        width: 100%;
    }
}

.answers-container-numeric {
    display: grid;
    grid-template-columns: 100%;
}

.answer {
    cursor: pointer;
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 8px;
    padding: 12px;
}

.answer-input {
    font-size: 16px;
    font-weight: 400;
}

.answer-numeric {
    display: block;
    border: none;
}

.answer-numeric-input {
    cursor:text;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 8px;
    padding: 12px;
}

.answer {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 8px;
    align-content: center;
}

.submit-button {
    font-size: 14px;

    width: max-content;
    padding: 8px 12px;

    background-color: #f20f38;
    border-color: #bd0040;
    color: white;

    border: 1px solid;
    border-radius: 6px;
}

.submit-button:hover {
    background-color: var(--koralle-color);
}

.submit-button:active {
    transform: scale(0.95);
}

.error {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 1024px) {
    .answers-container-scale {
        flex-direction: column;
        row-gap: 6px;
    }
}

@media (max-width: 860px) {

    .form {
        row-gap: 24px;
        padding: 28px;
    }

    .question-title {
        font-size: 17px;
    }

    .question-description {
        font-size: 13px;
    }

    .answer-input {
        font-size: 14px;
    }

    .answers-container-scale {
        flex-direction: column;

        .answer {
            width: 91%;
        }

        row-gap: 6px;
    }

    .error-message {
        font-size: 14px;
    }
}

@media (max-width: 510px) {

    .form {
        row-gap: 20px;
        padding: 20px;
    }

    .question-title {
        font-size: 14px;
    }

    .question-description {
        font-size: 13px;
    }

    .answer-input {
        font-size: 11px;
    }

    .answers-container-scale {
        flex-direction: column;

        .answer {
            width: 91%;
        }

        row-gap: 6px;
    }

    .error-message {
        font-size: 12px;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}